.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-panels-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.home-panel {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    overflow: hidden;
}